@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #333;
}

.navBar {
  text-align: center;
}

.score {
  position: relative;
  z-index: 10;
}

.guessButton {
  background-color: #FACC15;
  color: #0F172A;
  position: relative;
  left: 130px;
  top: 10px;
  z-index: 6;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}
.guessButton:hover {
  transform: scale(1.2);
  background-color: #C2410C;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.guessLocation {
  display: inline-block;
  position: relative;
  left: 600px;
  bottom: 330px;
  z-index: 5;
  opacity: 0.3;
  /* transform: scale3d(0.4, 0.4); */
}

.guessLocation:hover {
  display: inline-block;
  /* transform: scale3d(1.2, 1.2); */
  position: relative;
  left: 600px;
  bottom: 330px;
  opacity: 1;
}

.login {
  margin: 5em;
}

.signOut {
  width: 100px;
  height: 40px;
  margin-left: 250px;
}

.profile {
  margin-top: 50px;
  color: white;
}

.upload {
  margin-left: 10px;
}

nav {
  width: 100%;
  padding: 1em;
}

.timer {
  display: inline-block;
  position: relative;
  width: 180px;
  max-width: 180px;
  bottom: 600px;
  font-size: 30px;
  z-index: 2;
  color: #FACC15;
  background-color: slategrey;
  padding: 15px;
  border-radius: 0 5px 5px 0;
}

.round {
  display: inline-block;
  position: relative;
  width: 180px;
  max-width: 180px;
  bottom: 852px;
  left: 420px;
  font-size: 30px;
  z-index: 2;
  color: #FACC15;
  background-color: slategrey;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}

p {
  display: contents;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}